@media screen and (max-width: 768px){
body{
  margin: 0px;
  background-color: rgb(190,190,190);
}

footer{
   width:100%;
   height: 48px;
   background-color: rgb(95,95,95);
   display: inline-block;
   float: left;
}

.cleardiv{
   margin: 0px;
   float: left;
   display: inline-block;
}

.backgroundset{
  width: 100%;
  height: 3.37%;
  background-color: rgb(95,95,95);
  display: inline-block;
  float: left;
  margin: 0px;
}

.nav{
  width: 100%;
  height: 26px;
  background-color: rgb(95,95,95);
  display: inline-block;
  float: left;
  margin: 0px;
}

.shop1{
  width: 35%;
  height: 210px;
  margin-left: 5.625%;
  margin-top: 22px;
  float: left;
  display: inline-block;
}

.shop2{
  width: 35%;
  height: 210px;
  margin-left:19.0625%;
  margin-top: 22px;
  float: left;
  display: inline-block;
}

.shop3{
  width: 35%;
  height: 210px;
  margin-left: 5.625%;
  margin-top: 22px;
  float: left;
  display: inline-block;
}

.shop4{
  width: 35%;
  height: 210px;
  margin-left:19.0625%;
  margin-top: 22px;
  float: left;
  display: inline-block;
}

.leftarrow{
  display: inline-block;
  float: left;
  margin-left: 34.5%;
  margin-top: 0.26%;
  height:26px;
}

.nav_p{
  display: inline-block;
  float: left;
  margin-left: 3.125%;
  margin-right: 3.125%;

}

.nav p{
  color : white;
    margin-top: 10.26%;
}

.rightarrow{
  display: inline-block;
  float: left;
  margin-top: 0.26%;
  height: 26px;
}

.backgr2{
  width:66px;
  height:1653px;
  background-color: rgb(240,236,225);
  opacity: 50%;
  display: inline-block;
  margin-left: 36px;
  float: left;
}

.sub{
  width: 100%;
  display: inline-block;
  float: left;
}

.chesspic{
  width: 100%;
  height: 126px;
  display: inline-block;
  float: left;
  border: solid black 1px;
}

.sidebar{
  width:100%;
  height: 95px;
  background-color: rgb(255,255,255);
  font-weight: bold;
  border: solid black 1px;
}

.sidebar p{
  margin-left: 30%;
  margin-top: 3px;
  margin-bottom: 0.5px;
  font-size: 16px;
  font-family: Calibri;
}

.sidebar span{
  margin-top: 15px;
  margin-left: 10px;
  font-family: Calibri;
  font-size: 10px;
  color: rgb(95,95,95);
}

.sidebar ul{
  margin-top: 3px;
  font-size: 12px;
}

.line{
    border: #000000 5px solid;
    margin-top: 665px;
}

.copy{
  color: #000000;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  margin-left: 9.375%;
  margin-top: 15px;
  display: inline-block;
  float: left;
}

.designer{
  color: #000000;
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  margin-right: 150px;
  margin-top: 30px;
  margin-left: 442px;
  display: none;

}

.contline{
  border:  rgb(95,95,95) 1px solid;
  margin-left: 8%;
  margin-right: 8%;
}

#hambuger{
  width: 5.3%;
  margin-left: 5.9%;
  margin-top: 2%;
  float: left;
  display: inline-block;
}

#logo{
  width: 16.25%;
  margin-left: 30.625%;
  margin-top: 0.26%;
  display:inline-block;
  float: left;
}

#twitter{
  height:64px;
  margin-top: 25px;
  margin-right: 161px;
  margin-left: 0px;
  margin-bottom: 20px;
  float:left;
  display: none;
}

#facebook{
  height:64px;
  margin-top: 25px;
  margin-right: 36px;
  margin-left: 640px;
  margin-bottom: 20px;
  float:left;
  display: none;
}

#About{
  height:58px;
  width:202px;
  margin-right: 116px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: rgb(255,255,255);
  float: left;
  display: none;
  border-radius: 5px;
}

#About p{
  font-size: 30px;
  font-family: Segoe UI Black ,Arail;
  margin :10px 35px 10px 45px;
  padding: 0px;
}

#Home{
  height:58px;
  width:202px;
  margin-right: 36px;
  margin-bottom: 0px;
  margin-left: 402px;
  margin-top: 0px;
  background-color: rgb(255,255,255);
  float: left;
  display: none;
  border-radius: 5px;
}

#Home p{
  font-size: 30px;
  font-family: Segoe UI Black ,Arail;
  margin :10px 30px 10px 50px;
  padding: 0px;
}

#mainpic{
  width:100%;
  height: 178px;
  margin: 0px;
  float: left;
  display:inline-block;
}


#ruler{
  background-color: rgb(255,255,255);
}

#saber{
  margin-left: 19.0625%
  background-color: rgb(255,255,255);
}

#assasin{
  margin-top: 47px;
  float: left;
  background-color: rgb(255,255,255);
}

#archer{
  margin-top: 47px;
  float: left;
  background-color: rgb(255,255,255);
}

#cont1{
  margin-top: 22px;
  margin-left: 0px;
  display: inline-block;
  float: left;
}


#cont2{
  margin-top: 22px;
  margin-left: 0px;
  display: inline-block;
  float: left;
}

#cont3{
  margin-top: 52px;
  display: inline-block;
  float: left;
}

#cont4{
  margin-top: 52px;
  display: inline-block;
  float: left;
}

}
